.ant-slider-rail{
  background: rgb(215,0,21);
  background: linear-gradient(90deg, rgba(215,0,21,1) 0%, rgba(140,105,46,1) 51%, rgba(0,200,71,1) 100%);
}
  
.ant-slider-rail:hover{
  background: rgb(215,0,21);
  background: linear-gradient(90deg, rgba(215,0,21,1) 0%, rgba(140,105,46,1) 51%, rgba(0,200,71,1) 100%);
}
  
.ant-slider:hover .ant-slider-rail {
  background: rgb(215,0,21);
  background: linear-gradient(90deg, rgba(215,0,21,1) 0%, rgba(140,105,46,1) 51%, rgba(0,200,71,1) 100%);
}

.ant-tooltip{
pointer-events: none;
}